.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#2196f3;
}

.navbar h2{
color:white;
}

.navbar div{
display:flex;
gap:20px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:bold;
}

.navbar a.active{
text-decoration:underline;
}

@media(max-width:600px){
.navbar{
flex-direction:column;
gap:15px;
}
}